<section>
  <p [style]="{color:'pink'}">{{ title }}</p>

  <!-- <input id="userName" type="text" [(ngModel)]="userName"/>

  <button type="button"
          [style]="{color: buttonColor}"
          [disabled]="!isEnabled"
          (click)="addEmployee()">
          Add
  </button>

 <p>{{ userName}}</p> -->

  <!--need to loop each employee-->

  <ng-container *ngIf="employees && employees.length">
    <app-employee *ngFor="let emp of employees; let i=index;"
                   [employee]="emp">
    </app-employee>
  </ng-container>

  <!-- <ul>
    <li *ngFor="let num of numerList; let i=index;">
      {{ num }} position: {{ i }}
    </li>
  </ul> -->
</section>
